body {
  position: relative;
  font-family: 'Roboto', sans-serif;
  background: $light-g;
}

#header {
  background: rgba(255, 255, 255, 0.86);
  width: 100%;
  height: 76px;
  z-index: 20;
}

#account-summary {
  font-size: 20px;
  font-weight: bold;
  color: $gray;
  padding-top: 23px;
  text-align: right;
  span {
    display: inline-block;
    margin: 0 20px;
  }
}

#signout {
  margin-top: 14px;
  font-size: 13px;
  font-weight: bold;
  color: $gray;
  border-left: 1px solid #D0D0D0;
  padding: 15px 20px;
  a {
    color: $accent;
  }
}

.dashboard-top {
  background: #EFEFEF;
  height: 111px;
  border-bottom: 1px solid #ccc;
}

.dashboard-top-inside {
  background: #EFEFEF;
  height: 80px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}

.dashboard-col {
  text-align: center;
  padding-top: 10px;
  h3 {
    font-size: 23px;
    color: $accent;
  }
  h4 {
    font-weight: bold;
    font-size: 14px;
    color: #656565;
  }
}

#dashboard-bottom {
  margin-top: 40px;
}

.white-box {
  background: $content;
  border: 1px solid #EFEEEE;
  border-radius: 2px;
  padding: 10px 10px;
}

.right-box {
  padding: 5px 10px;
  margin-bottom: 10px;
  h3 {
    font-weight: bold;
    font-size: 17px;
    color: $accent;
    letter-spacing: -0.03px;
  }
  p {
    font-size: 13px;
    color: $gray;
    letter-spacing: 0.2px;
  }
}

.big-chart {
  padding: 65px 10px;
}

.chart {
  margin-top: 20px;
}

.avatar {
  width: 42px;
  height: 42px;
  margin-right: 10px;
  margin-top: 15px;
}

.username {
  font-weight: bold;
  font-size: 15px;
  color: $gray;
  letter-spacing: -0.03px;
  margin-top: 25px;
}

thead {
  background-image: -webkit-linear-gradient(#F7F6F6 0%, #EBE9E9 100%);
  background-image: -o-linear-gradient(#F7F6F6 0%, #EBE9E9 100%);
  background-image: linear-gradient(#F7F6F6 0%, #EBE9E9 100%);
}

#poster {
  background: #FFF;
  border: 1px solid #ccc;
  padding: 4px;
  width: auto;
  display: inline-block;
  text-align: center;
}

#poster-bottom {
  padding: 20px 0;
  font-size: 14px;
  color: $gray;
  h3 {
    font-size: 18px;
    font-weight: bold;
    color: #515151;
  }
  strong {
    font-weight: bold;
  }
}

.navbar {
  margin-bottom: 0;
}

.navbar-nav li.active a {
  background: #EFEFEF !important;
  color: #515151 !important;
}

.navbar-default {
  background: $accent;
  border: none !important;
  a {
    color: $content !important;
  }
}

.withdrawal h3 {
  margin-left: 20px;
}
.centered {
  text-align: center;
  .btn-success {
    display: inline-block;
    margin-top: 20px;
    width: calc(100% - 40px);
    &:hover {
      text-decoration:  none;
    }
  }
}
.white-box {
  margin-top: 20px;
}
#footer {
  text-align: center;
  padding: 20px 0;
}